<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href = "../../static/admin/css/fonts.css" rel = "stylesheet">
    <link href = "../../static/admin/css/elements.css" rel = "stylesheet">
    <title>
        About
    </title>
</head>
    <body class = "clearfix">
    <div class>
    <h1 style = "font-family: Roboto; font-weight: 200;">
        Welcome to Best Cars dealership, home to the best cars in North America.<br> We sell domestic and imported cars at reasonable prices.
    </h1>
    </div>
    <footer class = "bg-light">
        <a  href = "{% url 'djangoapp:contact' %}">Contact Us</a>
    </footer>
    </body>
    


</html>