<!DOCTYPE html>
<html>
<head>
    <title>
        Contact
    </title>
</head>
    <body>
    <h2> Need Assistance? </h2>
    <form>
        <fieldset>
            <legend> Ask a Question: </legend>
        <select id ="question_type">
            <option value= "None">Choose a Topic</option>
            <option value = "Loans">Loans</option>
            <option value = "Appointments">Appointments</option>
            <option value = "Delivery">Delivery</option>
            <option value = "Other">Other</option>
        </select><br><br>
        <label  for = "question"> Question: </label><br><br>
        <textarea id = "question" type = "Text"></textarea><br><br>
        <label for ="email">Your e-mail: </label>
        <input id ="email" type = "email"><br><br>
        <button type ="submit" value="submit" >Submit</button>
    </fieldset>
        
    </form>
    <div>
        <h3>Company Address: 90060 Amir Lodge, Suite 897, 63255, Savannahaven, New Mexico, United States
        </h3>
        <h3>Give us a Call: +1 209-939-6711 </h3>
    </div>
</body>
</html>